.App {
  font-family: sans-serif;
}

.item {
  margin-bottom: 10px;
}

.todo-input {
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-btn {
  margin-left: 10px;
}

.delete-button {
  float: right;
}
